name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm ci

      - name: Compile TypeScript
        run: npm run build

      - name: Prune Dev Dependencies
        run: npm prune --production

      - name: Zip Release
        run: zip -r apple-music-rpc.zip dist node_modules package.json

      - name: Create Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: apple-music-rpc.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
